---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from '../components/Hero.astro';
import PropertyHome from "../components/PropertyHome.astro";
import NewProjects from "../components/NewProjects.astro";
import Team from "../components/Team.astro";
import '../base.css';
import '../style.css';
---
<BaseLayout>
	<section class="relative" slot="hero">		
		<Hero />
		<PropertyHome/>	
		<NewProjects/>
		<!-- <Team/> -->
	</section>	

	<!-- Popup HTML -->
	<div id="popup" class="popup hidden">
		<div class="popup-content">
				<span id="close-popup" class="close">&times;</span>
				<img src="https://i.ibb.co/X8hfCpg/apunidos-10-years.jpg" alt="Popup Image" />
		</div>
	</div>

</BaseLayout>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const popup = document.getElementById('popup');
    const closePopup = document.getElementById('close-popup');

    // Mostrar el popup (puedes ajustar esto según tus necesidades)
    popup.classList.remove('hidden');

    // Cerrar el popup cuando se hace clic en el botón de cerrar
    closePopup.addEventListener('click', function () {
      popup.classList.add('hidden');
    });

    // Cerrar el popup cuando se hace clic fuera del contenido del popup
    window.addEventListener('click', function (event) {
      if (event.target === popup) {
        popup.classList.add('hidden');
      }
    });
  });
</script>
