---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from '../components/Hero.astro';
import PropertyHome from "../components/PropertyHome.astro";
import NewProjects from "../components/NewProjects.astro";
import Team from "../components/Team.astro";
import '../base.css';
import '../style.css';
---
<BaseLayout>
	<section class="relative" slot="hero">		
		<Hero />
		<PropertyHome/>	
		<NewProjects/>
		<!-- <Team/> -->
	</section>	
</BaseLayout>
