---
import BaseLayout from "../layouts/BaseLayout.astro";
import '../base.css';
---

<BaseLayout title="Politicas y Legal">
    <main class="mx-2 md:mx-64">
        <h2 class="title-h2">ANOTACIONES PARA PRESENTACIONES</h2>
        <article class="
                my-8 
                mt-6 
                mx-10 
                text-sm 
                text-slate-600
                text-justify    
                max-w-3xl 
                
                md:mx-auto 
                md:text-lg
                dark:text-slate-400                 
                lg:text-lg">
            <p>
                Esta presentación es autoría  de AP UNIDOS S.A.S.,  Se advierte que aplican condiciones y restricciones a  el proyecto inicial ya que este puede ser objeto de modificaciones en razón de las exigencias que puedan formular las autoridades competentes al expedir Las  licencias urbanísticas o por convenir así a sus intereses; Así mismo, las dimensiones de muros, closets, ventanas, espacios y alturas pueden varias debida a ajustes causados por modulación de materiales y variaciones propias del proceso constructivo y que las ilustraciones presentadas en los planos de ventas correspondientes a los apartamentos y zonas comunes, son una representación artística; En estas se pueden presentar variaciones en materiales, acabados, colores, formas, diseño de elementos, dimensiones y texturas, teniendo claro que las variaciones no significaran en ningún caso disminución en la calidad de la obra o acabados de los inmuebles, es decir se entregará la construcción del inmueble en las misma condiciones y especificaciones ofrecidas en el proyecto, pero podrá sin ningún tipo de preaviso, modificarlas, sustituirlas y/o reemplazarlas en todo o en parte por acabados similares y de igual o superior calidad, cuando no le fuere posible instalar las inicialmente ofrecidas ya sea por fuerza mayor, caso fortuito, escasez o mayor oferta en el mercado de productos similares, sin que ello implique una modificación en el proyecto inmobiliario.
            </p>
        </article>
        <h2 class="title-h2">POLÍTICA DE TRATAMIENTO DE DATOS</h2>
        <h3 class="title-h3">POLÍTICA DE PRIVACIDAD, TRATAMIENTO Y PROTECCIÓN DE DATOS PERSONALES</h3>
        <article class="
                my-8 
                mt-6 
                mx-10 
                text-sm 
                text-slate-600
                text-justify    
                max-w-3xl 
                md:text-lg
                md:mx-auto 
                dark:text-slate-400                 
                lg:text-lg">
            <p>
                Con la autorización del tratamiento de datos personales el titular de los mismos acepta los términos de la presente política. APUNIDOS es respetuosa de los datos personales e información que le suministran sus clientes actuales, pasados y potenciales. En la presente Política de Privacidad, se establecen las finalidades, medidas y procedimientos para la recolección, almacenamiento, uso, circulación y supresión de nuestras bases de datos, así como los mecanismos con que cuentan los titulares para conocer, actualizar, rectificar, suprimir los datos suministrados o revocar la autorización.La presente política aplica para cualquier registro de datos personales realizado en forma presencial y/o virtual durante cualquier contacto que se realice entre los clientes presentes y/o potenciales interesados y APUNIDOS. El titular del dato registra o entrega su información de manera libre y voluntaria, y reconoce que ha leído y acepta expresamente los presentes términos.
            </p>

            <h3 class="title-h3 pt-2">DEFINICIONES</h3>
            <p>
                Autorización: Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales.
                Base de Datos: Conjunto organizado de datos personales que sea objeto de 
            </p>
            
            <h3 class="title-h3 pt-2">Tratamiento.</h3>
            <p>
                Dato personal: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.
                Datos sensibles: Aquellos datos que afectan la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.
                Tratamiento: Se refiere a cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.
                Encargado del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento.
                Responsable del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los mismos.
                Titular: Persona natural cuyos datos personales sean objeto de Tratamiento.
            </p>

            <h3 class="title-h3 pt-2">DISPOSICIONES</h3>

            <ol class="list-decimal">
                <li class="my-4">
                    RESPONSABLE Y ENCARGADO DEL TRATAMIENTO DE DATOS. El responsable y encargado del tratamiento de datos personales es APUNIDOS, quien asigna estas funciones a la Coordinadora de Mercadeo.Los siguientes son sus datos de contacto:
                    <ul class="">
                        <li>a) Domicilio: Puerto Colombia, Atlético.</li>
                        <li>b) Dirección: Calle 2 No 18 B 06</li>
                        <li>c) Correo electrónico: info@apunidos.com)
                        Número de teléfono: 3095593</li>
                    </ul>
                </li>

                <li class="my-4">
                    FINALIDAD DE LA BASE DE DATOS. La base de datos tiene como finalidades principales informarle sobre los servicios que prestamos, para fines administrativos, comerciales y de publicidad y contacto frente a los titulares de los mismos.
                </li>

                <li class="my-4">
                    DATOS PERSONALES. La información objeto de tratamiento por parte de APUNIDOS, en adelante en este documento “Datos personales”, es aquella que suministran los Titulares, cuando acceden a sus bienes y/o servicios, o con ocasión de los mismos, tales como: nombre, apellidos, identificación, edad, sexo, teléfono, dirección física y electrónica, país, ciudad y demás datos necesarios que le sean solicitados en el proceso de registro, los cuales en ningún caso serán de carácter sensible en los términos de ley.APUNIDOS no recopilará datos considerados como Datos Sensibles según lo dispuesto en la Ley 1581 de 2012, como, por ejemplo, datos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, pertenencia a sindicatos, organizaciones sociales, datos relacionados con la salud, vida sexual o datos biométricos.
                </li>

                <li class="my-4">
                    AUTORIZACIÓN PARA RECOLECCIÓN Y TRATAMIENTO DE DATOS PERSONALES Y OTRA INFORMACIÓN. Mediante la autorización expresa verbal o por escrito, el Titular autoriza expresa o inequívocamente a APUNIDOS para recolectar datos personales y cualquier otra información que suministre, así como para realizar el tratamiento sobre sus datos personales, de conformidad con esta Política de Privacidad y la ley.
                </li>

                <li class="my-4">
                    TRATAMIENTO DE LOS DATOS PERSONALES ALMACENADOS EN LAS BASES DE DATOS DE APUNIDOS. APUNIDOS solo usará, procesará y circulará los datos personales para las finalidades descritas y para los tratamientos autorizados en esta Política de Privacidad o en las leyes vigentes. En adición a lo mencionado en otras cláusulas, cada TITULAR expresamente autoriza a APUNIDOS para la recolección, uso y circulación de sus datos personales y otra información para los siguientes propósitos:
                    <ol>                    
                        <li>i. Establecer comunicación entre APUNIDOS y el TITULAR para cualquier propósito relacionado con las finalidades que se establecen en la presente política, ya sea mediante llamadas, mensajes de texto, correos electrónicos y/o físicos.</li>

                        <li>ii. Auditar, estudiar, analizar y utilizar la información de la Base de Datos para diseñar, implementar y desarrollar programas, proyectos y eventos.</li>

                        <li>iii. Auditar, estudiar, analizar y utilizar la información de la Base de Datos para la socialización de políticas, proyectos, programas, resultados y cambios organizacionales.</li>

                        <li>iv. Ofrecer productos y/o servicios</li>

                       <li> v. Evaluar los hábitos de consumo de los titulares, hacer análisis y/o segmentación de mercado y/o estadísticos.</li>

                        <li>vi. Solicitar la opinión del Titular sobre productos y/o servicios</li>

                        <li>vii. Cuando la información deba ser revelada para cumplir con leyes, regulaciones o procesos legales, para asegurar el cumplimiento de los términos y condiciones, para detener o prevenir fraudes, ataques a la seguridad de APUNIDOS o de otros, prevenir problemas técnicos oproteger los derechos de otros como lo requieran los términos y condiciones o la ley.</li>

                        <li>viii. Los demás descritos en la presente política o en la Ley.</li>
                    </ol>
                </li>

                <li class="my-4">
                    ALMACENAMIENTO DE DATOS PERSONALES. El Titular autoriza expresamente a APUNIDOS para que este lo almacene de la forma que considere más oportuna y cumpla con la seguridad requerida para la protección de los datos. Sólo el personal autorizado por APUNIDOS puede acceder a las Bases de Datos en donde están almacenados los datos, y por tanto a los datos personales de nuestros clientes.
                </li>

                <li class="my-4">
                    MEDIDAS DE SEGURIDAD. APUNIDOS se compromete al uso correcto y tratamiento de los datos personales, evitando el acceso no autorizado de terceros que permita conocer o vulnerar, modificar, divulgar y/o destruir la información que reposa en sus bases de datos. Por tal motivo, APUNIDOS cuenta con protocolos de seguridad y acceso a sus sistemas de información, almacenamiento y procesamiento incluidas medidas físicas de control de riesgos de seguridad.
                </li>

                <li class="my-4">
                    DERECHOS DE LOS TITULARES. APUNIDOS informa a los titulares que, conforme a la legislación vigente, estos tienen el derecho de conocer, actualizar, rectificar su información, y/o revocar la autorización para su tratamiento. En particular, son derechos de los titulares según se establece en el artículo 8 de la ley 1581 de 2012:

                    <ol class="my-4">
                        <li class="my-4 ml-4">
                            a) Conocer, actualizar y rectificar sus datos personales. Este derecho se podrá ejercer también, frente a datos parciales, inexactos, incompletos, fraccionados y/o que induzcan a error,
                        </li>

                        <li class="my-4 ml-4">
                            b) Solicitar prueba de la autorización otorgada para el tratamiento de sus datos personales,
                        </li>

                        <li class="my-4 ml-4">
                            c) Ser informado, previa solicitud elevada a través de los canales establecidos en la presente política, respecto del uso que se les ha dado a sus datos personales,
                        </li >
                        
                        <li class="my-4 ml-4">
                            d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la ley y las demás normas que la modifiquen, adicionen o complementen,
                        </li>

                        <li class="my-4 ml-4">
                            e) Revocar la autorización y/o solicitar la supresión de uno a más datos,
                        </li>
                        
                        <li class="my-4 ml-4">
                            f) Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
                        </li>

                        <li class="my-4 ml-4">
                            NOTA 1. Persona encargada de peticiones, consultas y reclamos. La persona encargada de atender las peticiones, consultas y reclamos de los titulares para ejercer sus derechos a conocer, actualizar, rectificar y suprimir sus datos y revocar su autorización es la Coordinadora de Mercadeo.
                        </li>

                        <li class="my-4 ml-4">
                            NOTA 2. Procedimiento para ejercer sus derechos. En caso de que desee ejercer sus derechos, el titular deberá enviar un correo electrónico o enviar un documento físico a las direcciones de contacto establecidas en la presente Política de Privacidad.
                        </li>

                        <li class="my-4 ml-4">
                            NOTA 3. Peticiones y Consultas Sobre Datos Personales. Cuando el titular de los datos o sus causahabientes deseen consultar la información que reposa en la base de datos, deberán realizar la solicitud por escrito a través de alguno de los canales dispuestos por APUNIDOS, quién responderá la solicitud en plazo de máximo diez (10) días hábiles. La solicitud deberá realizarse con el nombre completo del titular, la descripción de los hechos que dan lugar a la solicitud, la dirección de residencia o de correo electrónico, el teléfono de contacto y se deben anexar los documentos que se quiera hacer valer. En cumplimiento a lo dispuesto en la ley 1581 de 2012, cuando no fuere posible atender la consulta dentro de dicho término, se informará al usuario, se le expresará los motivos de la demora y se le señalará la fecha en que se atenderá su consulta, la cual no podrá superar los cinco (5) días hábiles siguientes al vencimiento del primer término.
                        </li>

                        <li class="my-4 ml-4">
                            NOTA 4. Revocación de autorización, retiro o supresión de la Base de Datos y reclamos sobre datos personales. Cuando el titular de los datos o sus causahabientes consideren que la información contenida en las bases de datos debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en la Ley 1581 de 2012  , podrán presentar un reclamo ante APUNIDOS, el cual será tramitado bajo las siguientes reglas:
                        </li>
                            <ol class="my-4">
                                <li class="my-4 ml-8">
                                    i. El reclamo se formulará mediante solicitud dirigida a APUNIDOS en donde debe constar: (i) la identificación del (los) Titular(es), (ii) la descripción de los hechos que dan lugar al reclamo y (iii) los datos de notificación (la dirección de residencia y/o de correo electrónico y el teléfono de contacto), y se anexarán los documentos que se quieran hacer valer. Si el reclamo resulta incompleto, APUNIDOS podrá requerir al interesado dentro de los cinco (5) días siguientes a la recepción del reclamo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo. En caso de que APUNIDOS no sea competente para resolver el reclamo, dará traslado a quien corresponda en un término máximo de dos (2) días hábiles e informará de la situación al Titular, con lo cual quedará relevada de cualquier reclamación o responsabilidad por el uso, rectificación o supresión de los datos.
                                </li>

                                <li class="my-4 ml-8">
                                    ii. Una vez recibido el reclamo completo, se incluirá en la base de datos una leyenda que diga «reclamo en trámite» y el motivo del mismo, en un término no mayor a dos (2) días hábiles. Dicha leyenda deberá mantenerse hasta que el reclamo sea decidido.
                                </li>

                                <li class="my-4 ml-8">
                                    iii. El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al Titular los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.
                                </li>
                            </ol>                   
                    </ol>
                </li>

                <li class="my-4">
                    CONTACTO. Cualquier duda o información adicional será recibida y tramitada mediante su envío a las direcciones de contacto establecidas en la presente Política de Privacidad.
                </li>

                <li class="my-4">
                    VIGENCIA DE LOS DATOS. Los datos personales incorporados en la Base de Datos estarán vigentes durante el plazo necesario para cumplir sus finalidades. Una vez se cumpla(n) esa(s) finalidad(es) y siempre que no exista un deber legal o contractual de conservar su información, los datos serán eliminados de nuestras Bases de Datos.
                </li>

                <li class="my-4">
                    CAMBIOS EN LA POLÍTICA DE PRIVACIDAD. APUNIDOS se reserva la facultad de modificar, en cualquier momento y de manera unilateral, su política y sus procedimientos de tratamiento de datos personales. Cualquier cambio sustancial en las políticas de Tratamiento, será comunicado oportunamente a los Titulares mediante la publicación en nuestros portales web.
                </li>

                <li class="my-4">
                    LEGISLACIÓN VIGENTE. La legislación nacional vigente en materia de protección de datos personales está contenida en la Ley 1581 de 2012 , el Decreto 1377 de 2013 y la Ley 1266 de 2008 y las normas que lo modifiquen o complementen.
                </li>

                <li class="my-4">
                    REVELACIÓN DE LA INFORMACIÓN. El Titular, con la aceptación de esta política de tratamiento de datos personales, declara conocer que APUNIDOS puede suministrar esta información a las entidades judiciales y/o administrativas y demás entes del Estado que, en ejercicio de sus funciones, soliciten esta información o cuando medie orden judicial. Igualmente, acepta que pueden ser objeto de procesos de auditoría interna o de auditoría externa por parte de empresas encargadas de este tipo de control. Lo anterior, sujeto a la confidencialidad de la información.
                </li>
            </ol>          
        </article>
    </main>

</BaseLayout>
