---
const {text, href } = Astro.props;
---

<buttom class="my-4 flex justify-center"> 
    <a href={href} class="
    py-2 px-4 rounded text-white text-lg transition ease-in-out delay-150 bg-aplime hover:-translate-y-1 hover:scale-110 hover:bg-apgreen duration-300
    "> 
      {text}
    </a>            
  </buttom>

  