---
import Naturaleza from '../img/Naturaleza.png';
import Botton from "./Botton.astro";
---
<div
  class="hidden absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden  sm:top-[-20rem]"
>
 <img src={Naturaleza.src} class="w-full" />

</div>

<div class="w-full bg-center bg-cover  h-[18rem] md:h-[38rem] relative" style="background-image: url('https://i.ibb.co/ZM8xBm9/Naturaleza.webp'); ">
  <div class="flex flex-col items-center justify-center w-full h-full bg-gray-900/40">

    <div class="w-full flex flex-col justify-center items-center p-4 lg:w-1/2 ">
      <div class="text-center ">
          <h1 class="text-3xl font-semibold text-white my-4 md:text-4xl">APUNIDOS <span class="">SAS</span></h1>
          <Botton text={"Proyectos"} href={"/proyectos/"}/>          
      </div>
        <div class="px-4 text-center my-4">
          <p class="text-white text-xs md:text-lg">
            Ofrecemos espacios que cumplen el deseo de los propietarios, tener una residencia que los aleje del ruido, de la contaminación y el
            estrés propio de las grandes ciudades, integrando la arquitectura con un entorno natural, preservando el medio ambiente y utilizando materiales
            según los avances tecnológicos, dando como resultado obras perdurables que son un símbolo de ligereza, belleza y elegancia, trabajando en equipo con un gran compromiso social
          </p>
        </div>
      </div>
  </div> 
  <div class="absolute h-12 bottom-0  bg-gradient-to-b from-transparent to-white dark:to-slate-800 z-999 w-full md:h-48 md:-bottom-1"></div> 
</div>




<style>
  .card {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
</style>
