---
import CardProperty from "./CardProperty.astro";
import { nameTags } from "../data/Projects";
import Botton from "./Botton.astro";
---
<section class="px-6  mx-auto flex flex-col justify-center items-center overflow-hidden bg-gradient-to-t from-transparent via-gray-50 to-gray-100  dark:bg-gradient-to-r dark:from-slate-900 dark:to-slate-800 dark:border-slate-800">    
    <CardProperty title="Proyectos Nuevos" filtro={[nameTags.lanzamiento.label]}/>
    <Botton text={"Todos Nuestros Proyectos Aquí"} href={"/proyectos/"}/>
    <!-- Galery Section -->
</section>