/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;


.title-h1{
    @apply 
    text-slate-900 
    font-extrabold 
    text-4xl 
    sm:text-5xl 
    lg:text-6xl 
    tracking-tight 
    text-center 
    dark:text-white
}

.title-h2{
    @apply 
    text-slate-900 
    font-extrabold 
    text-2xl 
    mx-12    
    sm:text-3xl 
    lg:text-4xl 
    tracking-tight 
    text-center 
    dark:text-white
}

.title-h3{
    @apply text-slate-900 font-extrabold text-xl sm:text-2xl lg:text-3xl tracking-tight text-center dark:text-white
}

.paragraph{
    @apply 
    mt-6 
    mx-10 
    text-lg 
    text-slate-600
    text-justify    
    max-w-3xl 
    /*Pantallas medianas*/
    md:mx-auto 
    dark:text-slate-400 
    md:text-center
    lg:text-lg
}

.animation-amenities{
    @apply 
    transition 
    ease-in-out 
    delay-150 
    hover:-translate-y-1 
    hover:font-semibold  
    duration-300
}

.item-menu{
    @apply
    text-gray-700
    md:text-gray-300 
    transition-colors 
    duration-300 
    transform     
    p-4    
    font-bold
    hover:text-gray-50 
    hover:bg-gray-300/25 
    dark:text-gray-200 
    dark:hover:text-gray-400
}

.item-menu-left{
    @apply
    rounded-l-2xl
}

.item-menu-right{
    @apply
    rounded-r-2xl
}

/*
relative bg-gradient-to-r from-sky-500 to-indigo-500 py-2 px-4 rounded text-white font-semibold
*/